version: "3.8"
services:
  # =============================
  # ZOOKEEPER
  # =============================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - bigdata_net

  # =============================
  # KAFKA
  # =============================
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/kafka/9092"]
      interval: 5s
      timeout: 5s
      retries: 20
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # IMPORTANTE: nombre del host DENTRO de la red Docker
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - bigdata_net

  # =============================
  # POSTGRES IoT
  # =============================
  postgres_iot:
    image: postgres:15
    container_name: postgres_iot
    environment:
      POSTGRES_PASSWORD: "12345"
      POSTGRES_DB: "SensoresIoT"
    ports:
      - "5433:5432"
    volumes:
      - ./BaseDeDatos_Equipo3/schema_postgres.sql:/docker-entrypoint-initdb.d/schema_postgres.sql
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bigdata_net

  # =============================
  # PGADMIN
  # =============================
  pgadmin_iot:
    image: dpage/pgadmin4
    container_name: pgadmin_iot
    depends_on:
      - postgres_iot
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@iot.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    networks:
      - bigdata_net

  # =============================
  # MONGO
  # =============================
  mongo_iot:
    image: mongo:6
    container_name: mongo_iot
    ports:
      - "27017:27017"
    volumes:
      - ./BaseDeDatos_Equipo3/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - mongo_data:/data/db
    networks:
      - bigdata_net

  # =============================
  # MONGO EXPRESS
  # =============================
  mongo_express_iot:
    image: mongo-express
    container_name: mongo_express_iot
    depends_on:
      - mongo_iot
    ports:
      - "8087:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo_iot
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123

    networks:
      - bigdata_net

  # =============================
  # SPARK MASTER
  # =============================
  # spark-master:
  #   build:
  #     context: ./BackEnd_Equipo3/Procesamiento
  #     dockerfile: Dockerfile.spark
  #   container_name: spark-master
  #   environment:
  #     SPARK_MODE: master
  #   ports:
  #     - "7077:7077"
  #     - "8090:8080"
  #   networks:
  #     - bigdata_net
  spark-master:
    image: spark-local:3.5
    container_name: spark-master
    command: >
      bash -c "/opt/spark/sbin/start-master.sh && tail -f /dev/null"
    ports:
      - "7077:7077"
      - "8090:8080"
    networks:
      - bigdata_net



  # =============================
  # SPARK WORKER 1
  # =============================
  # spark-worker-1:
  #   build:
  #     context: ./BackEnd_Equipo3/Procesamiento
  #     dockerfile: Dockerfile.spark
  #   container_name: spark-worker-1
  #   depends_on:
  #     - spark-master
  #   environment:
  #     SPARK_MODE: worker
  #     SPARK_MASTER_URL: spark://spark-master:7077
  #   ports:
  #     - "8091:8081"
  #   networks:
  #     - bigdata_net
  spark-worker-1:
    image: spark-local:3.5
    container_name: spark-worker-1
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    networks:
      - bigdata_net



  # =============================
  # SPARK WORKER 2
  # =============================
  # spark-worker-2:
  #   build:
  #     context: ./BackEnd_Equipo3/Procesamiento
  #     dockerfile: Dockerfile.spark
  #   container_name: spark-worker-2
  #   depends_on:
  #     - spark-master
  #   environment:
  #     SPARK_MODE: worker
  #     SPARK_MASTER_URL: spark://spark-master:7077
  #   ports:
  #     - "8092:8082"
  #   networks:
  #     - bigdata_net
  spark-worker-2:
    image: spark-local:3.5
    container_name: spark-worker-2
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    networks:
      - bigdata_net





  # =============================
  # SPARK SUBMIT (para consumer)
  # =============================
  # spark-submit:
  #   build:
  #     context: ./BackEnd_Equipo3/Procesamiento
  #     dockerfile: Dockerfile.spark
  #   container_name: spark-submit
  #   depends_on:
  #     - spark-master
  #     - kafka
  #     - postgres_iot
  #     - mongo_iot
  #   environment:
  #     SPARK_MODE: submit
  #     SPARK_MASTER_URL: spark://spark-master:7077
  #   volumes:
  #     - ./BackEnd_Equipo3/Procesamiento/spark/jobs:/opt/spark-apps
  #   networks:
  #     - bigdata_net
  spark-submit:
    image: spark-local:3.5
    container_name: spark-submit
    depends_on:
      - spark-master
      - kafka
    volumes:
      - ./BackEnd_Equipo3/Procesamiento/spark:/opt/app
    command: >
      bash -c "sleep 15 &&
      /opt/spark/bin/spark-submit --master spark://spark-master:7077 --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0 /opt/app/spark_consumer_kafka.py"
    networks:
      - bigdata_net

  # =============================
  # PRODUCERS PYTHON
  # =============================
  producers:
    build:
      context: ./BackEnd_Equipo3
      dockerfile: Dockerfile.producers
    container_name: producers
    depends_on:
      - kafka
    volumes:
      - ./BackEnd_Equipo3/wait-for-kafka.sh:/wait-for-kafka.sh
    entrypoint: ["/bin/bash", "/wait-for-kafka.sh"]
    networks:
    - bigdata_net

  backend_api:
    build:
      context: ./BackEnd_Equipo3/api
      dockerfile: Dockerfile.api
    container_name: backend_api
    restart: always
    depends_on:
      - mongo_iot
      - postgres_iot
      - kafka
    environment:
      - NODE_ENV=production
    ports:
      - "4000:4000"
    networks:
      - bigdata_net

networks:
  bigdata_net:
    driver: bridge

volumes:
  postgres_data:
  mongo_data:





